In [1]:
from scipy import stats

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#일단 2019년3월 데이터로 사용했습니다. -> 전체 df_all_years 데이터로.
data=pd.read_csv('./data/구대학가연령성별응용집계_201903.csv')

In [5]:
data

       Unnamed: 0 SIGNGU_CD 성별   연령대별     CLASS1  카드이용건수계순위  카드이용금액계순위
0               0       강남구  F    10대      가전/가구       12.0       12.0
1               1       강남구  F    10대   가정생활/서비스        8.0       10.0
2               2       강남구  F    10대      교육/학원        6.0        6.0
3               3       강남구  F    10대         미용       10.0        8.0
4               4       강남구  F    10대  스포츠/문화/레저        4.0        4.0
...           ...       ... ..    ...        ...        ...        ...
15463       15463       중랑구  M  70대이상         의료        4.0        2.0
15464       15464       중랑구  M  70대이상      의류/잡화       13.0       11.0
15465       15465       중랑구  M  70대이상        자동차        8.0        6.0
15466       15466       중랑구  M  70대이상      전자상거래       14.0       12.0
15467       15467       중랑구  M  70대이상         주유        2.0        1.0

[15468 rows x 7 columns]

In [23]:
#10대, 강남구, 여성 으로 설정함.
condition=(data['연령대별']=='10대') & (data['성별']=='F')&(data['SIGNGU_CD']=='강남구')
#data 데이터에서는 순위가 두 번 반복되어 나와서 임의로 사용한 코드.
df=data.loc[condition].loc[0:13]

#순위 비교를 위해 리스트로 만듦.
df_list=[]
for i in df['카드이용금액계순위']:
    df_list.append(i)

df_list

[12.0, 10.0, 6.0, 8.0, 4.0, 11.0, 1.0, 2.0, 9.0, 7.0, 5.0, 14.0, 3.0, 13.0]

In [24]:
df['CLASS1']

0         가전/가구
1      가정생활/서비스
2         교육/학원
3            미용
4     스포츠/문화/레저
5         여행/교통
6         요식/유흥
7            유통
8         음/식료품
9            의료
10        의류/잡화
11          자동차
12        전자상거래
13           주유
Name: CLASS1, dtype: object

In [26]:
#고객 소비금액 데이터
data2=pd.read_excel('./data/소비금액.xlsx')
data2

       CLASS1      금액
0       가전/가구       0
1    가정생활/서비스       0
2       교육/학원       0
3          미용   17600
4   스포츠/문화/레저       0
5       여행/교통   60500
6       요식/유흥  481300
7          유통   72700
8       음/식료품       0
9          의료       0
10      의류/잡화       0
11        자동차       0
12      전자상거래       0
13         주유       0

In [27]:
#리스트로 만듦
user_list=[]
for i in data2['금액']:
    user_list.append(i)

user_list

[0, 0, 0, 17600, 0, 60500, 481300, 72700, 0, 0, 0, 0, 0, 0]

In [28]:
#순위 값 저장할 리스트
ranking=[]
for i in range(len(user_list)):
    ranking.append(0)
ranking

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
#고객 소비금액 데이터의 순위를 매김
for i in range(len(user_list)):
    ranking[i]=1
    for j in range(len(user_list)):
        if user_list[i]<user_list[j]:
            ranking[i]=ranking[i]+1
ranking

[5, 5, 5, 4, 5, 3, 1, 2, 5, 5, 5, 5, 5, 5]

In [32]:
#10대,강남구,여성 데이터와 고객 소비 데이터 두 순위를 비교함.
tau, p_value = stats.kendalltau(ranking, df_list)

print(tau)
print(p_value)

0.30912233386759314
0.16619516939049395

In [ ]:
#https://medium.com/@leejukyung/%EC%BC%84%EB%8B%AC%ED%83%80%EC%9A%B0-kendalltau-18fb90ba4e7 
#위 링크 참고했습니다